<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Crea tu cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/d920995c8a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <div class="main-header-mobile">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo" />
                <div class="nav-bar">
                    <div class="search-input">
                        <input type="text" placeholder="Buscar productos, marcas" />
                        <a href="#" target="_blank">
                            <i class="fa-solid fa-magnifying-glass icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="copy"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="main-nav-bar">
            <ul class="nav-left">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="nav-rigth">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2>Creá tu cuenta</h2>
        <form action="" method="POST" class="create-form">
            <div class="control-form">
                <input type="text" name="nombre" class="control" placeholder="Nombre y Apellido" minlength="5" />
            </div>
            <div class="control-form">
                <input type="text" name="usuario" class="control" placeholder="Nombre de usuario" minlength="4" />
            </div>
            <div class="control-form">
                <input type="email" name="email" class="control" placeholder="E-mail" />
            </div>
            <div class="control-form">
                <label class="etiqueta">Fecha de Nacimiento </label>
                <input type="date" name="fecha-nac" min="1900-01-01" max="2013-01-01" class="control" />
            </div>
            <div class="control-form">
                <input type="text" name="domicilio" class="control" placeholder="Domicilio" />
            </div>
            <div class="control-form">
                <label class="etiqueta">Perfil: </label>
                <div class="box">
                    <input type="radio" name="perfil" value="comprador" /><label>Comprador</label>
                    <input type="radio" name="perfil" value="vendedor" /><label>Vendedor</label>
                </div>
            </div>
            <div class="control-form">
                <label class="etiqueta">Intereses: </label>
                <label class="box"><input type="checkbox" name="interes" />Electro</label>
                <label class="box"><input type="checkbox" name="interes" />Moda</label>
                <label class="box"><input type="checkbox" name="interes" />Hogar</label>
                <label class="box"> <input type="checkbox" name="interes" />Juguetería</label>
                <label class="box"><input type="checkbox" name="interes" />Vida sana</label>
            </div>
            <div class="control-form">
                <label class="etiqueta">Foto de perfil: </label>
                <input type="file" name="avatar" accept=".jpg, .pdf" class="control">
            </div>
            <div class="control-form">
                <input type="password" name="contraseña" class="control" placeholder="Contraseña" minlength="4" />
            </div>
            <div class="control-form">
                <input type="password" name="contraseña" class="control" placeholder="Confirmar contraseña"
                    minlength="4" />
            </div>
            <a href="/"><button type="button" class="button-form">Enviar</button></a>
            <button type="reset" class="button-form">Borrar</button>

        </form>
    </main>
    <footer>
        <div class="footer-items">
            <div class="footer-item">

                <i class="fas fa-credit-card"></i>
                <strong>Pagá con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-gift"></i>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-user-shield"></i>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <small class="nav-footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
    </footer>
</body>

</html>